/* main css stylesheet */
#taskList .strike{
	text-decoration: line-through;
}
#taskList .description {
	font-family: "Lobster", cursive;
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 0px;
	cursor: pointer;
}
#taskList input {
	float: left;
	margin-right: 0px;
}

#taskList button {
	float: right;
	/*margin-top: 5px;*/
	font-size: 10px;
	visibility:visible;
}
.down {
	font-size: 18px;
	color: green;
	/*float: right;*/
	font-style: italic, bold;
}
.date{
	font-family: "Lobster", cursive;
	float: right;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 0px;
	cursor: pointer;
}
